body {
  font-family: Arial, sans-serif;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  margin: 0;
  padding: 20px 0; /* Add vertical padding */
}

.container {
  width: 90%;
  max-width: 800px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Add space between container and next element */
}

.cardSection {
  border-radius: 20px;
  background-color: #2e2e2e;
  box-shadow: 0 10px 10px 10px rgba(36, 241, 0, 0.5);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 30px;
  margin-bottom: 20px; /* Add space between sections */
  text-align: center; /* Center text inside card sections */
}

h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #edf0f3;
  color: rgb(255, 255, 255);
}

section {
  margin-bottom: 20px;
  color: #fff;
  text-align: center; /* Center text inside sections */
}

textarea, input[type="text"], input[type="password"], select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #fff;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #0056b3;
}

/* Neon button colors */
.neon-button {
  background-color: #000;
  color: #020101;
  box-shadow: 0 0 5px #100a0a, 0 0 10px #090606, 0 0 15px #fff;
}

.neon-button:hover {
  background-color: #000;
}

.neon-button.rose {
  background-color: #ff007b;
  box-shadow: 0 0 5px #ff007b, 0 0 10px #ff007b, 0 0 15px #ff007b;
}

.neon-button.blue {
  background-color: #007BFF;
  box-shadow: 0 0 5px #007BFF, 0 0 10px #007BFF, 0 0 15px #007BFF;
}

.neon-button.violet {
  background-color: #9400D3;
  box-shadow: 0 0 5px #9400D3, 0 0 10px #9400D3, 0 0 15px #9400D3;
}

.neon-button.green {
  background-color: #00FF00;
  box-shadow: 0 0 5px #00FF00, 0 0 10px #00FF00, 0 0 15px #00FF00;
}

.neon-button.orange {
  background-color: #FFA500;
  box-shadow: 0 0 5px #FFA500, 0 0 10px #FFA500, 0 0 15px #FFA500;
}

#colorDisplay {
  border: 1px solid #ddd;
  margin-top: 10px;
}

#urlValidationResult {
  margin-top: 10px;
  font-weight: bold;
  color: #fff;
}

#apiResponse {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #fff;
}

#generatesqlspring {
  color: #fff;
  text-align: center;
  padding: 20px;
}

#dbConnectionForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#dbConnectionForm input, 
#dbConnectionForm button, 
#outputData {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

#dbConnectionForm input {
  background: #222;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.1);
}

#dbConnectionForm button {
  background: #0f0;
  color: #000;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.4), 0 6px 20px rgba(0, 255, 0, 0.1);
  transition: background 0.3s, box-shadow 0.3s;
}

#dbConnectionForm button:hover {
  background: #fff;
  box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
}

#outputData {
  background: #222;
  color: #fff;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 6px 20px rgba(0, 0, 0, 0.1);
}

/* Responsive design */
@media (max-width: 1024px) {
  .container, .cardSection {
    width: 90%;
  }

  #dbConnectionForm input, 
  #dbConnectionForm button, 
  #outputData {
    width: calc(100% - 20px);
  }
}

@media (max-width: 768px) {
  .container, .cardSection {
    width: 100%;
    padding: 10px;
  }

  #dbConnectionForm input, 
  #dbConnectionForm button, 
  #outputData {
    width: calc(100% - 20px);
  }
}
