
data-tex{
    text-align: justify;
    
}

.card {
    background-color: #555151;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(220, 166, 4, 0.979);
    text-align: center;
  }